doctype html
html
    block head
        head 
            //- interoplation
            title Natours | #{title}
            link(rel='stylesheet' type='text/css' href='/css/style.css')
            link(rel='icon' type='image/png' href='/img/favicon1.png')
            script(src='https://js.stripe.com/v3/')

    body(data-alert=`${alert ? alert : ''}`)

    include _header

    block content

    include _footer

    script(src='/js/bundle.js')













        //- //-what after = called buffered code could write js code
        //- //-pug variables called locals
        //- h2= tour.toUpperCase()

        //- Unbuffered code
        //- - const x= 5

        //- p= x*2

        //- p paraghraph
