extends email_base


block content
    p= `Hi ${name}`
    p To reset your password PATCH Request 
    p
        a(href=`${url}`, target='_blank') #{url}
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p If you don't want, ignore this email
